/*
 * Name: Soothing (ForgeRock Blue Light Mode)
 *
 * Dynamically theme the ForgeRock out-of-the-box login UI on the fly.
 * Copyright 2015-2020 ForgeRock AS.
 */
 body {
    color: #000;
    background-color: #fff 
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #0c2d71;
}
a {
    color: #296bc2;
    text-decoration: none 
}
a:hover, a:focus {
    color: #296bc2;
    text-decoration: underline 
}
.form-control {
    color: #262930;
    background-color: #fff;
    border: 1px solid #262930;
}
.form-control::-moz-placeholder {
    color: #ccc;
    opacity: 1 
}
.form-control:-ms-input-placeholder {
    color: #ccc 
}
.form-control::-webkit-input-placeholder {
    color: #ccc 
}
.btn-default {
    color: #fff;
    background-color: #f4c488;
    border-color: #f1af5a; 
}
.btn-default:focus, .btn-default.focus {
    color: #fff;
    background-color: #f4c488;
    border-color: #f1af5a; 
}
.btn-default:hover {
    color: #fff;
    background-color: #f1af5a;
    border-color: #f1af5a; 
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    color: #fff;
    background-color: #f1af5a;
    border-color: #f1af5a; 
}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
    color: #fff;
    background-color: #f1af5a;
    border-color: #f1af5a; 
}
.btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus{
    background-color: #ed9c38;
    border-color: 1px solid #f1af5a;
}
.btn-default .badge {
    color: #f4c488;
    background-color: #fff 
}
.btn-primary {
    color: #fff;
    background-color: #7ea6da;
    border-color: #5987cd; 
}
.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #7ea6da;
    border-color: #5987cd; 
}
.btn-primary:hover {
    color: #fff;
    background-color: #5987cd;
    border-color: #5987cd;
}
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    color: #fff;
    background-color: #5987cd;
    border-color: #5987cd;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus{
    color: #fff;
    background-color: #5987cd;
    border-color: #5987cd; 
}
.btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus{
    background-color: #5987cd;
    border-color: 1px solid #296bc2;
}
.btn-primary .badge {
    color: #7ea6da;
    background-color: #fff 
}
.navbar-inverse{
    color:#fff;
    background-color: #296bc2;
    border-color: #296bc2;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
    color:#fff;
    background-color:#296bc2;
}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:hover,.navbar-inverse .navbar-nav>.disabled>a:focus{
    color:#fff;
}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
    color:#fff;
    background-color:#296bc2; 
}
.navbar.navbar-inverse .dropdown-menu>li>a {
    color: #7ea6da;
}
.navbar-inverse .navbar-nav>li>a {
    color: #7ea6da;
}
.navbar.navbar-inverse .dropdown-menu {
    background-color: #296bc2;
}
.navbar.navbar-inverse .dropdown-menu .divider {
    background-color: #296bc2;
}
.navbar.navbar-inverse #navDropdownMenu .dropdown-header {
    color: #fff;
}
.navbar.navbar-inverse .navbar-nav>li>a .caret {
    color: #e2e2e2;
}
.bg-primary {
    color: #fff;
    background-color: #7ea6da;
}
.page-header .header-icon {
    color: #e2e2e2;
    background-color: #7ea6da;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #e2e2e2;
    background-color: #296bc2;
    border-color: #296bc2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color:#000;
    background-color: #fff;
}
.panel {
    background-color: #fff;
}
.panel-body, h3, h4 {
    color:#fff;
}
.panel-footer {
    background-color: #fff;
}
.footer {
    border-top: 1px solid #777;
    background-color: #e2e2e2;
    color: #777;
}