/*
 * Custom Theme Node
 * Overrides existing OOTB styles to allow for easy theme customization
 * Copyright 2015-2020 ForgeRock AS.
 * ForgeRock Blue Dark Mode
 * 
 *
 * @primarymain: #7ea6da
 * @primarylevel1: #7ea6da
 * @primarylevel2: #5987cd
 * @primarylevel3: #296bc2
 * 
 * @defaultmain: #f4c488
 * @defaultlevel1: #f4c488
 * @defaultlevel2: #f1af5a
 * @defaultlevel3: #ed9c38
 */

body {
    color: #e2e2e2;
    background-color: #202124 
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #7ea6da;
}
a {
    color: #7ea6da;
    text-decoration: none 
}
a:hover, a:focus {
    color: #7ea6da;
    text-decoration: underline 
}
.form-control {
    color: #202124;
    background-color: #e2e2e2;
    border: 1px solid #cecece;
}
.form-control::-moz-placeholder {
    color: #68696a;
    opacity: 1 
}
.form-control:-ms-input-placeholder {
    color: #68696a 
}
.form-control::-webkit-input-placeholder {
    color: #68696a 
}
.btn-default {
    color: #e2e2e2;
    background-color: #f1af5a;
    border-color: #ed9c38; 
}
.btn-default:focus, .btn-default.focus {
    color: #e2e2e2;
    background-color: #f1af5a;
    border-color: #ed9c38; 
}
.btn-default:hover {
    color: #e2e2e2;
    background-color: #ed9c38;
    border-color: #ed9c38; 
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default{
    color: #e2e2e2;
    background-color: #ed9c38;
    border-color: #ed9c38; 
}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus{
    color: #e2e2e2;
    background-color: #ed9c38;
    border-color: #ed9c38; 
}
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus{
    background-color: #f4c488;
    border-color: 1px solid rgba(#f4c488, 0.5);
}
.btn-default .badge {
    color: #ed9c38;
    background-color: #e2e2e2 
}
.btn-primary {
    color: #e2e2e2;
    background-color: #296bc2;
    border-color: #5987cd; 
}
.btn-primary:focus, .btn-primary.focus {
    color: #e2e2e2;
    background-color: #296bc2;
    border-color: #5987cd; 
}
.btn-primary:hover {
    color: #e2e2e2;
    background-color: #5987cd;
    border-color: #5987cd;
}
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    color: #e2e2e2;
    background-color: #5987cd;
    border-color: #5987cd;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover,.btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus,.btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus{
    color: #e2e2e2;
    background-color: #5987cd;
    border-color: #5987cd; 
}
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus{
    background-color: #5987cd;
    border-color: 1px solid rgba(#7ea6da, 0.5);
}
.btn-primary .badge {
    color: #296bc2;
    background-color: #e2e2e2 
}
.navbar-inverse{
    color:#e2e2e2;
    background-color: #7ea6da;
    border-color:rgba(#7ea6da, 0.5) 
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
    color:#e2e2e2;
    background-color:#7ea6da;
}
.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:hover,.navbar-inverse .navbar-nav>.disabled>a:focus{
    color:#e2e2e2;
}
.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
    color:#e2e2e2;
    background-color:#7ea6da; 
}
.navbar.navbar-inverse .dropdown-menu>li>a {
    color: #296bc2;
}
.navbar-inverse .navbar-nav>li>a {
    color: #296bc2;
}
.navbar.navbar-inverse .dropdown-menu {
    background-color: #7ea6da;
}
.navbar.navbar-inverse .dropdown-menu .divider {
    background-color: rgba(#7ea6da, 0.5);
}
.navbar.navbar-inverse #navDropdownMenu .dropdown-header {
    color: #e2e2e2;
}
.navbar.navbar-inverse .navbar-nav>li>a .caret {
    color: #e2e2e2;
}
.bg-primary {
    color: #e2e2e2;
    background-color: #296bc2;
}
.page-header .header-icon {
    color: #e2e2e2;
    background-color: #296bc2;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #e2e2e2;
    background-color: #296bc2;
    border-color: #296bc2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color:#e2e2e2;
    background-color: #7ea6da;
}
.panel {
    background-color: #7ea6da;
}
.panel-footer {
    background-color: #7ea6da;
}
.footer {
    border-top: 1px solid rgba(#7ea6da, 0.5);
    background-color: #7ea6da;
    color: #e2e2e2;
}
